html, body {
    width: 100%!important;
    overflow-x: hidden!important;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}




.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: gray;
    border-top: 4px solid #2e0063;
    
    .menufooter li {
        display: inline;
        margin-right: 10px;
        font-family: "roboto";
        margin-bottom: 0px;
        text-decoration: none;
    }


    .menufooter a {
        
        color: rgb(0, 0, 0);

    }

    .text-center p {
        color: rgb(0, 0, 0);
    }

    .iconos {
        margin-left: 5px;
        margin-right:5px;
        margin-bottom: 10px;
    }


  
}


.bg-body-secondary {
    color: #2e0063;
}


.main {
  
    font-family:"roboto";
    padding-left: 0x;
    padding-right: 0;


    
}



.fondo {
    background-image: url(../../img/instalaciones-electricas-en-edificios-e1686645908991-1024x535.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
   


    



}

.menu li {
    display: inline;
    margin-right: 10px;
    font-family: "roboto";
    font-size: 1.5rem;
    font-weight: 900;
}

.h1-pasos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration:underline;
}

.row-1, .row-2, .row-3, .row-4 {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(157, 82, 226, 0.521);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 25%;
    margin-right: 25%;

}

